* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #b6d0d4;
}

.nav {
  margin-left: 1rem;
  width: 50%;
  border: 1px solid red;
}

.wrapper {
  background-color: #c5e1e6;
  width: 80%;
  margin: 1rem auto;
  box-shadow: 2px 2px 3px black;
}

.wrapper > * {
  margin-top: 0.2rem;
  padding: 0.2em;
}

#codeInput {
  width: 65%;
  margin: 3em auto;
  background-color: #000000;
  border-radius: 20%;
  box-shadow: 3px 10px 4px blue;
}

#codeInput a {
  text-align: center;
  margin: 0 auto;
  font-family: 'SpaceType', sans-serif;  
  font-size: 1em;
  user-select: none;
}


.gridButton {
  border: 1px solid blue;
  background-color: #f5efae;
  box-shadow: 1px 1px 2px black;
  text-align: center;
  user-select: none;
}

#phraseTextArea {
  resize: none;
  margin-left: 1.5em;
  margin-right: 0.5em;
  width: 75%;
  background-color: black;
}
