<%- include ('../partials/header.ejs') %>
<body>
  <div class="wrapper">
    <div class="NotD">
      The Number of the Day is: <span class="emphasize">[Sus]</span>
    </div>
    <div id="RomanDiv">
      In Roman Numerals: <span class="emphasize" id="RomanSpan">[LXIX]</span>
    </div>
    <div id="FactDiv">
      A fun fact about this number is: <span class="emphasize">[Insert Fact Here]</span>
    </div>
  </div>
</body>
</html>